/* panel */
.leftmenu {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100%;
  float: left;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-right: 1px solid var(--color-background-primary);
}

.rightsection {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  height: 100%;
  float: right;
}

.header {
  display: flex;
  flex: 0 0 64px;
  padding: 12px 16px;
}

.body {
  flex: 1;
}

/* area */
.middle_menu_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

/* ui */
.info_button {
  background-color: var(--color-button-info);
}

.menu_button {
  background-color: var(--color-menu-button-secondary);
  color: var(--color-content-default);
}

.selected {
  background-color: var(--color-menu-button-primary);
}

.link_button {
  width: 36px;
  height: 36px;
  background-color: var(--color-button-default);
}
