.leftmenu {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100%;
  float: left;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-right: 1px solid aliceblue;
}

.middle_menu_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.rightsection {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  height: 100%;
  float: right;
}

.header {
  display: flex;
  flex: 0 0 64px;
  padding: 12px 16px;
}

.body {
  flex: 1;
}
