.file_icon {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-component-secondary);
}

.list_card {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 12px;
  background-color: var(--color-component-default);
}

.info_contents {
  display: flex;
  padding: 16px;
  gap: 12px;
}

.list_nav {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
}
