.container {
  display: flex;
  padding: 16px;
  gap: 12px;
  background-color: var(--color-component-default);
  cursor: pointer;
}

.container_selected {
  display: flex;
  padding: 16px;
  gap: 12px;
  background-color: var(--color-component-another-300);
  cursor: pointer;
}

.friendName {
  color: #555;
}

.friendName_selected {
  font-weight: 500;
}
