.left-calender {
  width: 280px;
  height: 100%;
  float: left;
  padding: 10px;
  border-top: 1px solid aliceblue;
  background-color: white;
}

.calender_container {
  width: 100%;
}

.right-contents {
  width: calc(100% - 280px);
  height: 100%;
  float: right;
  padding: 0 100px;
}

.month_grid {
  width: 100%;
}
