.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background-primary);
}

.container {
  display: flex;
  width: 420px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.1);
  background-color: var(--color-component-default);
}
