.SwitchRoot {
  all: unset;
  width: 42px;
  height: 25px;
  padding: 2px 4px;
  background-color: var(--border-300);
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-md);
}
.SwitchRoot[data-state='checked'] {
  background-color: var(--color-blue-400);
}
.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: var(--bg-sub);
  border-radius: 9999px;
  box-shadow: var(--shadow-sm);
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(20px);
}
