.container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 12px;
  background-color: white;
}

.info_contents {
  display: flex;
  padding: 16px;
  gap: 12px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
}
