.container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 12px;
  background-color: white;
}

.info_contents {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 4px;
}

.datetime {
  display: flex;
  gap: 12px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
  font-size: 13px;
}

.label {
  padding: 2px 10px;
  border-radius: 6px;
  background-color: #ddd;
}
