:global(.rdp-month_grid) {
  width: 100%;
}

:global(.rdp-weeks) {
  width: 100%;
  /* 테이블 레이아웃을 고정하여 셀 너비가 부모에 맞게 조정되도록 유도 */
  table-layout: fixed; 
}

.button {
  all: unset;
  padding: 10px;
}

.chevron {
  width: 16px;
  height: 16px;
}

.caption_label {
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: 0;
  font-weight: normal;
  font-size: 16px;
}

.selected {
  fill: red;
}