.left-friends {
  width: 160px;
  height: 100%;
  float: left;
  padding: 10px;
  border: 1px solid #000;
}

.right-chats {
  width: calc(100% - 160px);
  height: 100%;
  float: right;
}

.direct-wrapper {
  display: flex;
  height: 60px;
  border: 1px solid #000;
  padding: 12px 16px;
  background-color: azure;
}

.contents {
  height: calc(100% - 60px);
  border: 1px solid #000;
  padding: 10px;
}