.left-calender {
  width: 280px;
  height: 100%;
  float: left;
  padding: 10px;
  border: 1px solid #000;
}

.right-contents {
  width: calc(100% - 280px);
  height: 100%;
  float: right;
  padding: 10px;
  border: 1px solid #000;
}