.trigger {
  all: unset;
  height: 36px;
  width: 100%;
  padding: 0 12px;
  font-size: 14px;
  text-align: center;
  border: none;
  background-color: white;
  cursor: pointer;
}

.trigger[data-state="active"] {
  border-bottom: 1px solid #000;
}