.container {
  display: flex;
  z-index: 2;
  padding: 4px 12px;
  background-color: var(--color-component-primary);
  border-radius: 6px;
  transform-origin: var(--radix-tooltip-content-transform-origin);
  animation-duration: 150ms;
  animation-timing-function: ease-out;
  will-change: opacity, transform;
}

.container[data-state='delayed-open'] {
  animation-name: fadeIn;
}

.container[data-state='closed'] {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.separator {
  height: 0.5px;
  background-color: #666;
  margin: 4px 0;
}

.arrow {
  fill: var(--color-component-primary);
}
