.container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 12px;
  background-color: var(--color-blue-100);
}

.info_contents {
  display: flex;
  padding: 16px;
  gap: 12px;
  font-size: var(--font-size-md);
}

.info_sub_text {
  font-size: var(--font-size-sm);
  color: var(--text-sub-100);
}

.navigation {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
}

.button_secondary_400 {
  background-color: var(--color-blue-200);
}

.button_secondary_600 {
  background-color: var(--color-blue-400);
}

.label {
  display: flex;
  margin-top: 24px;
  margin-bottom: 12px;
  gap: 12px;
  align-items: center;
}

.count {
  font-size: var(--font-size-xs);
  color: #777;
}
