.team_chat_root {
  height: 100%;
  background-color: aliceblue;
}

.team_chat_panel {
  height: calc(100% - 72px);
}

.bottom {
  display: flex;
  height: 72px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  background-color: white;
}

.input {
  height: 48px;
}

.button {
  width: 48px;
  height: 48px;
  flex-shrink: 0; /* 부모의 flex 속성으로부터 자식 요소의 크기 변경 방지 */
  justify-content: center;
}
