.team_chat_root {
  height: 100%;
  background-color: var(--color-background-primary);
}

.team_chat_panel {
  height: calc(100% - 96px);
}

.bottom {
  display: flex;
  height: 96px;
  padding: 0 24px;
  align-items: center;
  gap: 16px;
  background-color: var(--color-background-secondary);
}

.input {
  height: 48px;
}

.button {
  width: 48px;
  height: 48px;
  flex-shrink: 0; /* 부모의 flex 속성으로부터 자식 요소의 크기 변경 방지 */
  justify-content: center;
}

.button_primary {
  background-color: var(--color-button-primary);
}

.button_secondary {
  background-color: var(--color-button-secondary-500);
}
