.setting_root {
  height: 100%;
  background-color: var(--color-background-primary);
}

.setting_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 120px 16px;
  gap: 8px;
}

.setting_nav_container {
  display: flex;
  width: 100%;
  padding: 16px 120px 16px;
}

.setting_nav {
  display: flex;
  width: 100%;
  padding: 4px;
  gap: 8px;
  border-radius: 100px;
  background-color: #c5e5ff;
}

.setting_view {
  width: 100%;
  padding: 0 120px;
}

.setting_content {
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.trigger {
  border-radius: 100px;
  border: none;
  font-size: 14px;
  padding: 6px 0;
  flex: 1;
  background: none;
}

.trigger[data-state='active'] {
  background-color: white;
}
