.leftmenu {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100%;
  float: left;
  padding: 10px;
  align-items: center;
  gap: 10px;
  border-right: 1px solid aliceblue;
}

.rightsection {
  width: calc(100% - 80px);
  height: 100%;
  float: right;
}

.header {
  display: flex;
  height: 64px;
  padding: 12px 16px;
  justify-content: center;
}

.body {
  height: calc(100% - 64px);
}