.schedule_root {
  height: 100%;
  background-color: var(--color-background-primary);
}

.left_calender_panel {
  width: 280px;
  height: 100%;
  float: left;
  padding: 10px;
  border-top: 1px solid var(--color-background-primary);
  background-color: var(--color-background-secondary);
}

.calender_container {
  width: 100%;
}

.schedule_view_panel {
  width: calc(100% - 280px);
  height: 100%;
  float: right;
  padding: 0 100px;
}
