.start-layout {
  margin: auto;
  padding-top: 20px;
  max-width: 1080px;
  background-color: aliceblue;
}

.start-layout .header {
  height: 100px;
  background-color:rgb(255, 223, 223);
}

.start-layout .header .login {
  margin-left: 920px;
}

.start-layout .body {
  height: 300px;
  background-color: aqua;
}

.start-layout .footer {
  height: 200px;
  background-color: lightcyan;
}