.start {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: aliceblue;
}

.start .header {
  display: flex;
  height: 60px;
  padding: 20px 24px;
  justify-content: space-between;
  
  /* background-color:rgb(255, 223, 223); */
}

.start .header .left-container {
  display: flex;
  gap: 24px;
}

.start .header .right-container {
  display: flex;
  padding: 0;
  gap: 12px;
}

.start .body {
  display: flex;
  height: calc(100% - 120px);
  justify-content: center;
  align-items: center;
  font-size: 24px;
  /* background-color: aqua; */
}

.start .footer {
  display: flex;
  height: 60px;
  padding: 0 100px;
  justify-content: space-between;
  /* background-color: lightcyan; */
}