.start {
  margin: auto;
  padding-top: 20px;
  max-width: 1080px;
  background-color: aliceblue;
}

.start .header {
  height: 100px;
  background-color:rgb(255, 223, 223);
}

.start .header .login {
  margin-left: 920px;
}

.start .body {
  height: 300px;
  background-color: aqua;
}

.start .footer {
  height: 200px;
  background-color: lightcyan;
}