.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label {
  display: flex;
  align-items: center;
}

.rsection {
  display: flex;
  gap: 16px;
  align-items: center;
}

.button_primary {
  background-color: var(--color-button-primary);
}
