.overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-backdrop);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 18px 20px;
  border-radius: 6px;
  box-shadow: var(--shadow-dropdown);
  background-color: var(--bg-sub);

  &:focus {
    outline: none;
  }
}

.title {
  margin: 0 0 12px 0;
  font-size: var(--font-size-lg);
}

.description {
  margin-bottom: 4px;
  color: var(--text-sub-200);
}

.btnfield {
  display: flex;
  margin-top: 18px;
  justify-content: flex-end;
  gap: 6px;
}

.button_primary {
  background-color: var(--color-pink-400);
}

.button_default {
  border: 1px solid var(--border-300);
  background-color: var(--color-blue-100);
}

.button_x {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  color: var(--icon-color);
}
