.info_sub_text {
  display: flex;
  gap: 12px;
  font-size: var(--font-size-sm);
  color: var(--text-sub-100);
}

.navigation {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
  font-size: var(--font-size-sm);
}

.label {
  padding: 2px 10px;
  border-radius: 6px;
  background-color: var(--color-blue-300);
}

.button {
  all: unset;
  padding: 10px;
  cursor: pointer;
}

.chevron {
  width: 16px;
  height: 16px;
}

.caption_label {
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: 0;
  font-weight: normal;
  font-size: var(--font-size-md);
}

.selected {
  fill: red;
}
