.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
}

.item {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: 2px solid var(--border-100);
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.indicator::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background-color: #82c3f8;
  border-radius: 50%;
}

.label {
  font-size: 14px;
  padding-left: 8px;
  color: var(--text-color);
}
