.info_sub_text {
  font-size: var(--font-size-sm);
  color: var(--text-sub-100);
}

.navigation {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
}

.label {
  display: flex;
  margin-top: 24px;
  margin-bottom: 12px;
  gap: 12px;
  align-items: center;
}

.count {
  font-size: var(--font-size-xs);
  color: #777;
}
