.list_item {
  display: flex;
  width: 200px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.selected {
  background-color: var(--color-blue-300);
}
