.left-friends {
  width: 280px;
  height: 100%;
  float: left;
  border-top: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
  background-color: white;
}

.right-chats {
  width: calc(100% - 280px);
  height: 100%;
  float: right;
}

.bottom {
  display: flex;
  height: 60px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  background-color: white;
}
