.left-friends {
  width: 280px;
  height: 100%;
  float: left;
  border-top: 1px solid aliceblue;
  border-right: 1px solid aliceblue;
  background-color: white;
}

.chat_view_panel {
  width: calc(100% - 280px);
  height: 100%;
  float: right;
}

.direct_chat_area {
  flex: 1;
  background-color: aliceblue;
}

.right_file_list_area {
  display: flex;
  flex: 0 0 240px;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.bottom {
  display: flex;
  height: 60px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  background-color: white;
}
