.container {
  display: flex;
  flex-direction: column;
  height: 240px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #999;
  border-radius: 12px;
  background-color: var(--color-component-default);
}

.container_dragging {
  display: flex;
  flex-direction: column;
  height: 240px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border: 1px dashed #000;
  border-radius: 12px;
  background-color: #f5f5f5;
}
