.CheckboxRoot {
  all: unset; /* 브라우저 기본 스타일 제거 */
  background-color: var(--bg-sub);
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 2px solid var(--border-900);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* 부모 flex에 의해 찌그러짐 방지 */
  cursor: pointer;
}

.CheckboxRoot[data-state='checked'] {
  background-color: var(--bg-sub); /* 프로젝트 메인 컬러 */
  border-color: var(--border-900);
}

.CheckboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
