.button {
  all: unset;
  padding: 10px;
  cursor: pointer;
}

.chevron {
  width: 16px;
  height: 16px;
}

.caption_label {
  z-index: 1;
  position: relative;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  border: 0;
  font-weight: normal;
  font-size: 16px;
}

.selected {
  fill: red;
}
