.app-layout {
  display: flex;
  padding: 30px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.container {
  display: flex;
  width: 480px;
  padding: 60px 0;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  box-shadow: 0px 6px 12px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}