.tool-header {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
}

.header-label {
  display: flex;
  align-items: center;
}

.header-r-section {
  display: flex;
  gap: 16px;
}