.view {
  height: 100%;
  overflow: auto;
}

.contents {
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 10px;
  justify-content: flex-end;
}

.chat_item {
  display: flex;
  gap: 16px;
}

.message_header {
  display: flex;
  gap: 8px;
  margin-bottom: 6px;
}

.receiver {
  display: inline-block;
  font-size: 16px;
  color: #000;
}

.chat_time {
  display: inline-block;
  font-size: 13px;
  color: #aaa;
}

.chat_bubble {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: var(--color-component-default);
}

.chat_text {
  display: inline-block;
}
