.container {
  z-index: 2;
  margin-top: 6px;
  padding: 4px 0;
  background-color: var(--color-component-default);
  border-radius: 6px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
}

.separator {
  height: 0.5px;
  background-color: #666;
  margin: 4px 0;
}
