:root {
  --bg-main: aliceblue;
  --bg-card: white;
  --text-color: black;
  --color-blue-100: aliceblue;
  --color-blue-200: #e0f4ff;
  --color-blue-300: #c5e5ff;
  --color-blue-400: #82c3f8;
  --color-blue-500: #5caef2;
  --color-blue-600: #4299e4;
  --color-blue-700: #2d84d6;
  --color-blue-800: #1d6fc8;
  --color-blue-900: #125baa;
  --color-pink-100: #ffecf5;
  --color-pink-200: #ffd9e9;
  --color-pink-300: #ffc6dc;
  --color-pink-400: #ffb3cf;
  --color-pink-500: #ffa0c2;
  --color-pink-600: #ff8db5;
  --color-pink-700: #ff7aa8;
  --color-pink-800: #ff679b;
  --color-pink-900: #ff548e;

  /* 단계별 삭제 예정 */
  --color-background-primary: aliceblue;
  --color-background-secondary: white;
  --color-component-primary: #c5e5ff;
  --color-component-secondary: #e0f4ff;
  --color-component-default: white;
  --color-component-another: #ffb6d9;
  --color-component-another-300: #ffecf5;
  --color-component-focus: aliceblue;
  --color-component-border: #e0f4ff;
  --color-menu-button-primary: #c5e5ff;
  --color-menu-button-secondary: #e0f4ff;
  --color-button-primary: #ffb6d9;
  --color-button-secondary-400: aliceblue;
  --color-button-secondary-500: #e0f4ff;
  --color-button-secondary-600: #c5e5ff;
  --color-button-secondary-700: #82c3f8;
  --color-button-secondary-800: #5caef2;
  --color-button-border: #aaa;
  --color-button-info: #c5e5ff;
  --color-button-focus: #c5e5ff;
  --color-button-default: white;
  --color-content-default: black;
  --color-content-light: white;
}

[data-theme='dark'] {
  --bg-main: #0d1117;
  --bg-card: #161b22;
  --text-color: #f0f6fc;
  --color-blue-300: #21262d;
}
