/* '일' 색상 지정 */
.rdp-weekday:nth-child(1) {
  color: var(--color-calendar-sunday);
}

/* '토' 색상 지정 */
.rdp-weekday:nth-child(7) {
  color: var(--color-calendar-saturday);
}

/* 일요일의 날짜 색상 지정 */
.rdp-day:nth-child(1) {
  color: var(--color-calendar-sunday);
}

/* 선택된 날짜 폰트 크기 지정 */
.rdp-selected {
  font-size: var(--font-size-md);
}
