.container {
  display: flex;
  padding: 16px;
  gap: 12px;
  background-color: var(--color-component-default);
  cursor: pointer;
}

.container_selected {
  display: flex;
  padding: 16px;
  gap: 12px;
  background-color: var(--color-component-focus);
  cursor: pointer;
}
