.container {
  display: flex;
  padding: 16px;
  gap: 12px;
  background-color: white;
  cursor: pointer;
}

.container_selected {
  display: flex;
  padding: 16px;
  gap: 12px;
  background-color: aliceblue;
  cursor: pointer;
}
