.page {
  height: 100%;
  background-color: var(--color-background-primary);
}

.contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #555;
}
