.container {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 12px;
  background-color: var(--color-component-default);
}

.info_contents {
  display: flex;
  padding: 16px;
  gap: 12px;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 14px;
  gap: 8px;
}

.button_secondary_400 {
  background-color: var(--color-button-secondary-400);
}

.button_secondary_600 {
  background-color: var(--color-button-secondary-600);
}
