.view {
  height: 100%;
  overflow: auto;
}

.contents {
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 10px;
  justify-content: flex-end;
}

.chat_time {
  font-size: '13px';
  color: #777;
}

.chat_bubble {
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  background-color: var(--color-component-default);
}

.chat_text {
  display: inline-block;
}
