.file_sharing_root {
  height: 100%;
  background-color: var(--color-background-primary);
}

.top_files {
  display: flex;
  width: 100%;
  padding: 32px 120px 16px;
  gap: 8px;
}

.file_view_panel {
  width: 100%;
  padding: 0 120px;
}
