.skeleton {
  border-radius: var(--radius-sm);
  background-color: var(--color-blue-300);
  animation: skeleton_pulse 1.2s ease-in-out infinite;
}

@keyframes skeleton_pulse {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}
