.button {
  display: flex;
  padding: 0;
  gap: 20px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #eee;
}

.normal {
  height: 36px;
  padding: 0 12px;
  align-items: center;
  border-radius: 6px;
}

.square {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  font-size: 16pt;
}

.circle {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}