.button {
  display: flex;
  height: 36px;
  padding: 0 12px;
  gap: 20px;
  font-size: 14px;
  align-items: center;
  border: none;
  cursor: pointer;
}

.square {
  width: 36px;
  height: 48px;
  padding: 0;
  border-radius: 6px;
  justify-content: center;
}

.circle {
  width: 48px;
  height: 48px;
  padding: 4px;
  border-radius: 100%;
  justify-content: center;
}

.icon {
  width: 16px;
  height: 16px;
}

/* .icon-16 {
  width: 16px;
  height: 16px;
} */

/* .icon-24 {
  width: 24px;
  height: 24px;
} */