.c-button {
  display: flex;
  height: 36px;
  padding: 0 12px;
  gap: 20px;
  font-size: 14px;
  align-items: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.square {
  padding: 0;
  width: 36px;
  justify-content: center;
}

.c-icon {
  width: 16px;
  height: 16px;
}