.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 3px;
}

.input {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  background-color: #eee;
}