.container {
  display: flex;
  height: 36px;
  padding: 0 10px;
  gap: 6px;
  align-items: center;
  border: none;
  border-radius: 6px;
  background-color: #eee;
}

.container--fixed {
  width: min-content;
}

.container--flexible {
  width: calc(100% - 20px);
}

.input {
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #eee;
}

.input--fixed {
  width: 240px;
}

.input--flexible {
  width: 100%;
}
