.search-container {
  display: flex;
  width: min-content; 
  padding: 6px 10px;
  gap: 6px;
  align-items: center;
  border: 1px solid #000;
  border-radius: 6px;
}

.input-element {
  width: 240px;
  font-size: 16px;
  border: none;
  outline: none;
}

.search-icon {
  width: 16px;
  height: 16px;
}