/* span {
  margin: 0;
  padding: 0;
} */

.itemadd {
  display: flex;
  width: 200px;
  padding: 5px 10px;
  gap: 12px;
  align-items: center;
}

.itemlist {
  display: flex;
  width: 200px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
}