.left-friends {
  width: 280px;
  height: 100%;
  float: left;
  border: 1px solid #000;
}

.right-chats {
  width: calc(100% - 280px);
  height: 100%;
  float: right;
}

.bottom {
  display: flex;
  height: 60px;
  border: 1px solid #000;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
}



